<% content_for :application do %>

    <tr>
      <!-- ============ NAVIGATION BAR SECTION ============== -->
      <td colspan="2" align="right" style="height: 20px;" bgcolor="#a9ae9f"><%= link_to(name="Login" , login_login_path) %></td>
    </tr>



<% end %>

<%= render template: "layouts/application" %>